
html{
    scroll-behavior: auto !important;
}

body {
    font-family: Helvetica;
}

/*navbar*/
.navbar {
    background-color: #660066;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.navbar-brand {
    font-family: "Oswald";
    font-size: 40px;
    font-weight: 700;
}

/*hero section*/

#hero-section {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

#hero-section div {
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    margin: auto;
}

.hero-line {
    width: 345px;
}

#hero-section h1 {
    font-family: "Oswald";
    font-size: 72px;
}

#hero-section h1:first-child {
    font-weight: 200;
}

#hero-section h1:last-child {
    font-weight: 900;
}

/*sobre mi*/

#sobre-mi {
    color: #373a3c;
    font-family: "Open Sans";
    line-height: 3;
}

/*mi experiencia*/

#mi-experiencia {
    font-family: "Oswald";
    font-size: 52px;
}

#mi-experiencia i {
    color: #660066;

}

#mi-experiencia div:last-child article h4:first-child {
    font-family: "Oswald";

}

#mi-experiencia div:last-child article h4:last-child {
    font-family: "Open Sans";
    font-weight: 300;
}

/*mis trabajos */

#trabajos {
    background-color: #660066;
    font-family: "Oswald";
}

#trabajos h1{
    font-size: 52px;
}

/*contacto*/

#contacto h1{
    font-family: "Oswald";
    font-size: 52px;
}

/*footer*/

#footer{
background-color: #660066;
}

#footer h1{
    font-family: "Oswald";
}

#footer a{

    color: white;
    text-decoration: none;
}